{%extends 'layout.html'%}
{%load static%}

    {%block content%}
        {%load crispy_forms_tags%}
        <br>
        <br>
        <div class="row">
            
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Contactanos!</h2>
                        <form action=""  id="formulario_contacto" method="post" >
                            {%csrf_token%}
                            {{form | crispy}}
                            <div class="d-flex justify-content-end" >
                                <button type="submit" class="btn btn-secondary">Cancelar</button>
                                <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                        {{mensaje}}
                    </div>
                </div>
             </div>
        </div>
        
        <table id="tablacontactos">
            
        </table>
    {%endblock%}


